<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="lt-ie9" xmlns:og="http://opengraphprotocol.org/schema/" lang="en" class="splash"> <![endif]-->
<!--[if IE 9 ]><html class="ie9" xmlns:og="http://opengraphprotocol.org/schema/" lang="en" class="splash"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns:og="http://opengraphprotocol.org/schema/" lang="en" class="splash"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="fragment" content="!">

  <title>WPSPA Transitional- LocalNerve - Windham, ME - 207-370-8005</title>
  <meta name="description" content="WPSPA Transitional- WPSPA with old browser support. Windham, ME - 207-370-8005">
  <meta name="keywords" content="WPSPA,Wordpress,SPA,Single Page Application,Mobile Web Development,Performance">

  <meta property="og:url" content="http://wpspa-transitional.com/" />
  <meta property="og:image" content="http://wpspa-transitional.com/images/logo-300.png" />
  <meta property="og:locale" content="en_US"/>
  <meta property="og:site_name" content="WPSPA Transitional"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="WPSPA Transitional"/>
  <meta property="og:description" content="WPSPA Transitional- WPSPA with old browser support. Windham, ME - 207-370-8005"/>

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.ico" />
  
  <!--(if target development)><!-->
  <script src="/vendor/js/modernizr/modernizr.js"></script>
  <!--<!(endif)-->

  <!--(if target release)>
  <script src="vendor/js/modernizr/modernizr.js?__inline=true"></script>
  <!(endif)-->

  <!--(if target debug)>
  <script src="vendor/js/modernizr/modernizr.js?__inline=true"></script>
  <!(endif)-->

  <!--(if target development)><!-->
  <link rel="stylesheet" href="/app/styles/pre.css" />
  <!--<!(endif)-->

  <!--(if target release)>
  <link rel="stylesheet" href="pre.css?__inline=true">
  <!(endif)-->

  <!--(if target debug)>
  <link rel="stylesheet" href="pre.css?__inline=true">
  <!(endif)-->

  <!--(if target release)>
  <script id="wpspa-data-atf"><%= atfContent %></script>
  <meta name="wpspa-data-src" data-src="/scripts/require.js" />
  <script id="wpspa-data-load" type="text/javascript">
    (function() {
      var el = document.getElementsByName("wpspa-data-src")[0];
      var src = el.attributes["data-src"].value; el.parentNode.removeChild(el);
      var app = document.createElement("script"); app.type = "text/javascript"; app.async = true;
      app.src = src;
      var s = document.getElementById("wpspa-data-load"); s.parentNode.insertBefore(app, s);
    }());
  </script>  
  <!(endif)-->

  <!--(if target debug)>
  <script id="wpspa-data-atf"><%= atfContent %></script>
  <meta name="wpspa-data-src" data-src="/scripts/require.js" />
  <script id="wpspa-data-load" type="text/javascript">
    (function() {
      var el = document.getElementsByName("wpspa-data-src")[0];
      var src = el.attributes["data-src"].value; el.parentNode.removeChild(el);
      var app = document.createElement("script"); app.type = "text/javascript"; app.async = true;
      app.src = src;
      var s = document.getElementById("wpspa-data-load"); s.parentNode.insertBefore(app, s);
    }());
  </script>
  <!(endif)-->

  <!--(if target development)><!-->
  <link rel="stylesheet" href="/app/styles/index.css" />
  <!--<!(endif)-->

  <!--(if target release)>
  <link rel="stylesheet" href="index.css?__inline=true">
  <!(endif)-->

  <!--(if target debug)>
  <link rel="stylesheet" href="index.css?__inline=true">
  <!(endif)-->

</head>

<body class="splash">
  <div id="fb-root"></div>

  <div role="application" id="main" class="grid-row">
    <div class="main-grid-column centered">
      <noscript>      
        <h1>North Star Cleaning Services</h1>
        <p>This site requires javascript be enabled.</p>
      </noscript>
      <div class="splash-container">
        <div class="splash-logo">
        </div>
      </div>
    </div>
  </div>

  <!--(if target development)><!-->
  <script id="wpspa-data-atf"><%= atfContent %></script>

  <script data-main="/app/config" src="/vendor/bower/requirejs/require.js"></script>
  <!--<!(endif)-->
  
</body>
</html>
