//
// Desktop navigation styles
// (When nav appears in the content-header)
//
// Makes use of the old centered menu technique
// http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support

#navigation {
  @include clearfix();
}

nav.on-canvas {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;  
}

nav.on-canvas .nav-bar {
  clear: left;
  float: left;
  left: 50%;
  text-align: center;
  position: relative;
  margin: 5px auto;  
}

nav.on-canvas .nav-bar li {
  float: left;
  right: 50%;
  position: relative;
}