//
// common navigation styles
//
$nav-bg: transparent;

.nav-bar {
  @include background($nav-bg);
}

.nav-bar li {
  border: none;
}
.no-touch .nav-bar li:not(.active):hover,
.lt-ie9 .nav-bar > li:hover {
  @include background($klm-light);
}

.nav-bar li a, .nav-bar li.active a {  
  font-weight: bold;
}
.nav-bar li a {
  color: $site-black;
}
.nav-bar li a:first-child {
  font-size: 18px;
  padding: 0 12px;  
}
.nav-bar li.active a,
.no-touch .nav-bar li:not(.active) a:hover {
  color: $site-white;
  @include background($klm-light);
}

