
$off-canvas-width-scale: 1.65;
$off-canvas-width-perc: 0.5;
$off-canvas-width: percentage($off-canvas-width-perc);

[role="complementary"] { 
  margin-left: -100%;
  width: $off-canvas-width;
  float: left;
  position: relative;
  z-index: $modal-z-base + 10;
  display: none;
  background: $site-white;
  @include breakpoint(nav-fixed) {
    display: block;
  }
}

[role="main"] { 
  margin-left: 0;
  float: right;
  z-index: 1;
  position: relative;
  display: block;
}

// the 0.25 delay is used in off-canvas view to adjust timer, TODO: dynamically get at init
$transition-duration: 0.2s;

[role="complementary"], [role="main"] {
  width: 100%;
  // make sure it has composite layer
  //-webkit-transform: translateZ(0);

  @include single-transition(margin-left, $transition-duration, linear);
}
[role="main"] {

}
[role="modal"] {  
  @include modal-hide($modal-z-base, 0.0);
  display: none;
}

.active-off-canvas [role="complementary"] { 
  margin-left: 0;
  width: $off-canvas-width;
  @include breakpoint(very-small) {
    width: $off-canvas-width * $off-canvas-width-scale;
  }
  //background: $site-white;
}
.active-off-canvas [role="main"] {
  margin-left: -$off-canvas-width;
  @include breakpoint(very-small) {
    margin-left: $off-canvas-width * $off-canvas-width-scale * -1;
  }
  overflow: hidden;
}
.active-off-canvas [role="modal"] {
  opacity: 0.7;
  display: block;
}

@import "header/styles";
@import "footer/styles";
@import "off-canvas/styles";
@import "content-header/styles";
@import "content/styles";