@import "nav";

$off-canvas-width-scale: 1.65;
$off-canvas-width: percentage(0.5);

// the 0.25 delay is used in off-canvas view to adjust timer
$transition-duration: 0.2s;

[role="complementary"] {
  display: none;

  margin-left: -100%;
  width: $off-canvas-width;
  
  position: absolute;

  z-index: $modal-z-base + 10;
  
  background: $site-white;

  @include breakpoint(nav-fixed) {
    display: block;
    
    // Composite this container
    @include transform(TranslateZ(0));
  }

  @include single-transition(margin-left, $transition-duration, linear);  
}
[role="complementary"].active-off-canvas { 
  margin-left: 0;
  // this prevents modal bleed thru
  margin-top: -2px;

  width: $off-canvas-width;

  @include breakpoint(very-small) {
    width: $off-canvas-width * $off-canvas-width-scale;
  }
}

[role="main"] {
  display: block;

  margin-left: 0;
  
  z-index: 1;
  position: relative;
}
// ideal, but too expensive. TODO come up with a better way
//[role="complementary"].active-off-canvas ~ [role="main"] {
//  overflow: hidden;
//}
// better: https://github.com/localnerve/wpspa-transitional/issues/5
[role="complementary"].active-off-canvas + [role="main"] .showcase {
  overflow-y: hidden;
}

[role="complementary"], [role="main"] {
  width: 100%;
}

[role="modal"] {
  display: none;
  @include transform(TranslateZ(0));

  @include modal-hide($modal-z-base, 0.6);  
}
// using adjacent instead of general sibling.
// older phone browser bugs prevent general from working
//   https://github.com/localnerve/wpspa-transitional/issues/4
[role="complementary"].active-off-canvas + [role="main"] > [role="modal"] {
  display: block;
}

@import "header/styles";
@import "footer/styles";
@import "off-canvas/styles";
@import "content-header/styles";
@import "content/styles";