.site-info {
  margin: 0 auto;
  max-width: $rowWidth;
  padding: 30px 0;
  width: 100%;

  color: $site-black;
  background: $site-white;

  @include single-box-shadow($site-black, 0, 20px, 20px, -20px, true);
}

.site-info a {
  color: $site-black;
  @extend %footer-text-respond;
}