<div class="menu-script">
</div>
<div class="nav-toggle">
  <div class="nav-button">
    <div class="nav-indicator-area">
      <div class="icon-line"></div>
      <div class="icon-line"></div>
      <div class="icon-line"></div>
    </div>
  </div>  
</div>
<ul class="nav-stars">
  <li class="bi-logo"></li>
  <li class="bi-logo"></li>
</ul>
<div class="nav-container">
  <h4>Navigation</h4>
  <nav role="navigation" aria-label="Site Navigation">
    <ul class="nav-bar vertical">
    </ul>
  </nav>
</div>