//
// Site color values
//
$site-white: #f5f3f4;
$site-black: #262626;

// mono - dark to light
// base from logo is 1450D2 (20, 80, 210)
$klm-1: #081F52; 
$klm-2: #213052;
$klm-3: #0F3D9F;
$klm-4: #1450D2;
$klm-5: #5680D9;

// analogous accents - color from logo
$kla-1: #0055AA;
$kla-2: #008080; 
$kla-3: #0B8BE9;
$kla-4: #0ABDDF;

// complementary accents
$klc-1: #DF6C0A;
$klc-2: #D29914;
$klc-3: #D9B256;

// main color theme
$klm-base: $klm-4;
$klm-light: $klm-5;
$klm-light-alt: $kla-1;
$klm-middle: $klm-base;
$klm-middle-alt: $kla-1;
$klm-dark: $klm-2;
$klm-dark-alt: $klm-1;
$klm-alert: darken(#D9472A, 12%);
$main-grad-top: $site-white;
$main-grad-middle: lighten($kla-4, 50%);
$main-grad-bottom: lighten($klm-base, 20%);

// button colors
$button-primary: $klc-2;
$button-secondary: $klc-1;
$button-border: darken($klc-1, 25%);
$button-hover: $klc-3;

$phone-button-color: $klm-alert;

$required: darken($klc-1, 15%);