<div class="grid-row">
  <div class="header-top-block">
    <div class="header-top-item">
      <div class="top-item">
        <span class="social googleplus">
          <a href="https://plus.google.com/118303375063449115817" target="_blank">
            <span class="icon-googleplus"></span>
          </a>
        </span>      
        <span class="social twitter">
          <a href="https://twitter.com/localnerve" target="_blank">
            <span class="icon-twitter"></span>
          </a>
        </span>      
        <span class="social facebook">
          <a href="http://www.facebook.com/localnerve" target="_blank">
            <span class="icon-facebook"></span>
          </a>
        </span>
      </div>
    </div>
    <div class="header-top-item last-header-item">
      <div class="like-item">
        <div class="fb-like" data-href="http://www.facebook.com/localnerve" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false">
        </div>
      </div>
    </div>    
  </div>
  <div class="header-top-block right">
    <div class="header-top-item item-one first-text">
      <div class="top-item text-item phone">
        <span class="icon-phone phone-text"></span>
        <span class="phone-text"><%= businessPhone %></span>
        <a data-bypass class="phone-button" href="tel:1-<%= businessPhone %>">
          <span class="icon-phone"></span>
          <span><%= businessPhone %></span>
        </a>
      </div>
    </div>
    <div class="header-top-item item-two">
      <div class="top-pill">
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="header-top-item item-one next-text">
      <div class="top-item text-item phone">
        <span class="icon-phone"></span><span><%= businessPhone %></span>
      </div>
    </div>    
  </div>
</div>